# Tipos de datos

## Entendimiento de String

In [1]:
print("Hola mundo")

Hola mundo

Este que vemos aquí es un tipo de dato string.

In [2]:
"Hola mundo"

'Hola mundo'

In [3]:
print(5*4)

print("5*4")

20
5*4

Observemos que este tipo de estructura nos devuelve un resultado diferente, esto se debe a que son sitintos tipo de datos.

In [4]:
print('"Hola a todos",soy Max')

"Hola a todos",soy Max

También observemos que podemos resaltar algún comentario dentro de un string.

## Strings como cadenas de texto

In [5]:
print("Hola"+"mundo") #esta línea imprime holamundo junto
print("Hola"+' mundo') #esta no
print("Hola" + ' ' +'mundo')

Holamundo
Hola mundo
Hola mundo

In [6]:
print("\tHola") # la diagonal inverta + t, se usa como especie de sangría
print("Hola mundo \nHola mundo de nuevo") # Mientras que \n se usa como salto de línea

	Hola
Hola mundo
Hola mundo de nuevo

In [7]:
print("HOLA\n\tSOY\n\t\tMAX")

print("HOLA\tSOY\t\tMAX")

HOLA
	SOY
		MAX
HOLA	SOY		MAX

## Tipo de dato de entrada

In [8]:
#Función input
input("Dime tu nombre: ")

Dime tu nombre: Max

'Max'

In [9]:
print(input("Dime tu nombre: "))

Dime tu nombre: Max
Max

Observemos una diferencia sutil entre estas 2 líneas de código. La diferencia es que en el primer caso se ve la representación del objeto, mientras que en el segundo se ve la salida de la consola.

In [11]:
print("Tu nombre es " + input("Dime tu nombre: ")+ " " + "y estudias " +input("¿Qué carrera estudias?"))

Dime tu nombre: Max
¿Qué carrera estudias?Actuaría
Tu nombre es Max y estudias Actuaría

In [12]:
#Ejercicio1:

'''
Pedir información a un usuario que te diga:
    nombre
    carrera
    semestre
    edad

 Soy Max, estudio actauria en el 5 semestre y tengo 22 años
'''

'\nPedir información a un usuario que te diga:\n    nombre\n    carrera\n    semestre\n    edad\n\n Soy Max, estudio actauria en el 5 semestre y tengo 22 años\n'

In [14]:
print("Soy "+input("Dime tu nombre")+ ",estudio " + input("Dime tu carrera")+" en el "+input("En qué semestre vas")+" semestre y tengo " + input("Dime tu edad")+" años")

Dime tu nombreMax
Dime tu carreraActuaría
En qué semestre vas5
Dime tu edad22
Soy Max,estudio Actuaría en el 5 semestre y tengo 22años

## String

In [15]:
#string
nombre_variale = "Hola Mundo"
print(nombre_variale)

Hola Mundo

In [16]:
saludo = 'Hola a todos'
print(saludo)

Hola a todos

## Integer

In [18]:
#int
numero = 8

In [19]:
numero2 = 60
numero2

60

In [20]:
print(numero)

8

Intuitivamente sabemos con qué dato estamos trabajando por lo antes viste, pero para saber con certeza podemos usar la función **type** que nos dice el tipo de dato de la variable.

In [21]:
palabra = 'Hola'

In [22]:
type(numero)

int

In [25]:
type(numero2)

int

In [26]:
type(palabra)

str

También podemos hacer operaciones sobre los tipos de datos:

In [27]:
edad = 22

edad2 = 58

edad_suma = edad+edad2

print(edad + edad2)

80

In [28]:
print(type(edad_suma))

<class 'int'>

## Flotante

In [29]:
#flotante

edad = 21

edad2 = 22.8

In [30]:
type(edad)

int

In [31]:
type(edad2)

float

In [32]:
edad_suma = edad+edad2

In [33]:
print(type(edad_suma))

<class 'float'>

Cualquier suma donde intervenga un tipo de dato flotante nos arrojará una salida de tipo flotante

In [34]:
edad = input("¿Cuál es tu edad?: ")
print('Tu edad es '+edad)

¿Cuál es tu edad?: 22
Tu edad es 22

In [35]:
type(edad)

str

Cuando programamos en python, las entradas que obtenemos con la función input siempre serán de tipo texto, esto dato que internamente python lo reduce al tipo de dato de mayor facilidad computacional.

## Casteo

El casteo es cambiar de tipo de dato, esto es muy común cuando quieres homologar resultados y en el tratamiento de datos

In [36]:
#Casteo
num1 = 5
num2 = 30.8

In [37]:
num3=num1+num2
print(num3)

35.8

In [38]:
type(num3)

float

In [39]:
num4 = int(num3)

In [40]:
type(num4)

int

Ahora nos arroja un tipo de dato entero dado nuestro casteo: float --> int

In [41]:
print(num4)

35

In [42]:
num1 = 5
num2 = float(num1)
print(num2)

5.0

También podemos hacerlo en el sentido contrario. El casteo solo se puede hacer cuando los tipos de datos sean compatibles

In [43]:
edad = input("Dame tu edad: ")
edad = int(edad)
print(edad + 1)

Dame tu edad: 22
23

Por ejemplo, recordemos que en un input nos devuelve un tipo de dato string, esto para que no nos arroge un error podrías castear ese resultado y ocuparlo para algún tipo de análisis.

In [44]:
#Es de tipo nonetype
print("Dame tu edad: ")

edad = int(input("Dame tu edad: "))
print(edad*5)

Dame tu edad:
Dame tu edad: 22
110

## Formato de cadenas

In [45]:
#Formateo de cadenas

x = 22
y = 72

In [46]:
print('Mi edad es ' + x + 'y mi peso es ' + y + 'kilogramos')

TypeError: can only concatenate str (not "int") to str

Este tipo de error es muy común en nuestros inicios programando en python. El error se centra en las variables son de tipo entero, pero debemos tenerlo en tipo string para poder formatearlo en una cadena.

In [47]:
print('Mi edad es ' + str(x) + ' y mi peso es ' + str(y) + ' kilogramos')

Mi edad es 22y mi peso es 72kilogramos

## 1. Función format

In [48]:
x = 22
y = 72

print('Mis números son: {} y {}'.format(x,y))
print('Mis números son: {} y {} y la suma de estas dos varibeles es {}'.format(x,y,x+y))

Mis números son: 22 y 72
Mis números son: 22 y 72 y la suma de estas dos varibeles es 94

## 2. Cadenas literales

In [50]:
#2.-Cadenas literales
accion = 'AMD'
precio = 95

print(f'Mi acción {accion} tiene un precio de {precio}')

Mi acción AMD tiene un precio de 95

In [53]:
#Ejercicio
'''
Imprimir una cadena literal y una usando la función de formato que contenga 
al menos 3 variables, una que pida el nombre del usuario, otra que pida en qué
facultad estuadias y la última en que semestre estás.
Deberá tener un salto de línea cuando se diga en qué semestre está, por ejemplo:
    Hola, soy Max y estudio en la facultad de ciencias.
    Estoy cursando el primer semestre.
'''

A=input("¿Nombre del usuario?")
B=input("¿En que facultad estudias?")
C=input("¿En que semestre estás?")

print('\n')
print( "Hola, soy {} y estudio en la facultad de {}.\nEstoy cursando el {} semestre".format(A,B,C))
print('\n')
print(f"Hola, soy {A} y estudio en la facultad de {B}.\nEstoy cursando el {C} semestre")

¿Nombre del usuario?Max
¿En que facultad estudias?Ciencias
¿En que semestre estás?5


Hola, soy Max y estudio en la facultad de Ciencias.
Estoy cursando el 5 semestre


Hola, soy Max y estudio en la facultad de Ciencias.
Estoy cursando el 5 semestre

## Operadores matemáticos

In [54]:
x = 10
y = 5

print(f'{x} más {y} es igual a {x+y}')

print(f'{x} menos {y} es igual a {x-y}')

print(f'{x} por {y} es igual a {x*y}')

print(f'{x} dividido {y} es igual a {x/y}')

print(f'{x} división entera {y} es igual a {x//y}')

print(f'{x} modulo {y} es igual a {x%y}')

print(f'{x} a la potencia {y} es igual a {x**y}')

print(f'La raíz cuadrada de {x} es {x**0.5}')

10 más 5 es igual a 15
10 menos 5 es igual a 5
10 por 5 es igual a 50
10 dividido 5 es igual a 2.0
10 división entera 5 es igual a 2
10 modulo 5 es igual a 0
10 a la potencia 5 es igual a 100000
La raíz cuadrada de 10 es 3.1622776601683795

## Redondeo

In [55]:
round(3.1622776601683795,3)

3.162

In [56]:
valor = 43.53632

print(round(valor))
print(round(valor,2))

44
43.54

In [57]:
#Ejercicio
'''
Calcula la raíz cuadrad de 5, y muestra en pantalla
el resultado redodneado a 3 décimas
'''

'\nCalcula la raíz cuadrad de 5, y muestra en pantalla\nel resultado redodneado a 3 décimas\n'

In [58]:
x = 5
print(f"La raíz cuadrada de {x} es {x**0.5}")
round(2.23606797749979,3)

La raíz cuadrada de 5 es 2.23606797749979

2.236

In [59]:
print(round(5**0.5,2))

2.24

In [60]:
num1 = 13.25

print(round(num1))

print(int(num1))

print(round(num1,0))

13
13
13.0

In [ ]:
#Ejercicio

'''
Supondremos que usted será el encargado de craer una calculadora
de impuestos, este impuesto será la cuota que el empleado se llevará 
de comisión de todas las ventas que hizo semanalmente:
    1-Nombre del empleado
    2.-Monto de ventas que hizo semanalmente
Tomaremos una comisión del 10% de todas las ventas
    3.-El resultado se redondee a dos décimas
    4.-Que me imprima un mensaje de cuánto es la comisión que 
    se lleva el empleado.
'''

N=input("¿Nombre del Empleado?")
M=int(input("¿En que monto faculturo en ventas semanalmente?"))
C=round(M*.10,2)
print( "El empleado {} facturo en ventas {}.\nLa comisión obtenida por ventas de {} es de {}".format(N,M,N,C))


#Solución
nombre = input('Hola, ¿Cuál es tu nombre?: ')
ventas = input('¿Cuánto vendiste esta semana?: ')
comision = round(float(ventas)*.1,2)
print(f'Felicidades {nombre}, esta semana has generado ${comision} de comisiones')